Here we will work on Titanic Dataset

In [ ]:
# Importing the Libraries 
import pandas as pd
df = pd.read_csv('titanic_dataset.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns', inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
# df['Survived'] = df['Survived'].astype('Int64')

In [ ]:
target = df.Survived
input = df.drop('Survived', axis = 'columns')

In [ ]:
dummies = pd.get_dummies(input.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [ ]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [ ]:
input = pd.concat([input,dummies], axis = 'columns')
input.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [ ]:
input.drop('Sex', axis='columns', inplace = True)
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [ ]:
input.columns[input.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
input.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
input.Age = input.Age.fillna(input.Age.mean())
# input.pclass = input.pclass.fillna(input.pclass.mean())
# input.fare = input.fare.fillna(input.fare.mean())
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [ ]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [ ]:
input.columns[input.isna().any()]

Index([], dtype='object')

In [ ]:
import numpy as np

#No need to replace nan. You can pass to Int64 safely by doing:

# input['Pclass'] = np.floor(pd.to_numeric(input['Pclass'], errors='coerce')).astype('Int64')

input['Age'] = np.floor(pd.to_numeric(input['Age'], errors='coerce')).astype('Int64')

input['Fare'] = np.floor(pd.to_numeric(input['Fare'], errors='coerce')).astype('Int64')

In [ ]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [ ]:
input.head()

   Pclass  Age  Fare  female  male
0       3   22     7       0     1
1       1   38    71       1     0
2       3   26     7       1     0
3       1   35    53       1     0
4       3   35     8       0     1

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train,y_test = train_test_split(input, target, test_size = 0.2)

In [ ]:
len(x_train)

712

In [ ]:
len(x_test)

179

In [ ]:
len(input)

891

In [ ]:
x_train

     Pclass  Age  Fare  female  male
298       1   29    30       0     1
9         2   14    30       1     0
459       3   29     7       0     1
450       2   36    27       0     1
373       1   22   135       0     1
..      ...  ...   ...     ...   ...
133       2   29    26       1     0
349       3   42     8       0     1
317       2   54    14       0     1
509       3   26    56       0     1
752       3   33     9       0     1

[712 rows x 5 columns]

In [ ]:
y_train

298    1
9      1
459    0
450    0
373    0
      ..
133    1
349    0
317    0
509    1
752    0
Name: Survived, Length: 712, dtype: int64

In [ ]:
x_test

     Pclass  Age  Fare  female  male
352       3   15     7       0     1
208       3   16     7       1     0
467       1   56    26       0     1
41        2   27    21       1     0
87        3   29     8       0     1
..      ...  ...   ...     ...   ...
434       1   50    55       0     1
198       3   29     7       1     0
493       1   71    49       0     1
849       1   29    89       1     0
549       2    8    36       0     1

[179 rows x 5 columns]

In [ ]:
y_test

352    0
208    1
467    0
41     0
87     0
      ..
434    0
198    1
493    0
849    1
549    1
Name: Survived, Length: 179, dtype: int64

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
model.fit(x_train, y_train)

GaussianNB()

In [ ]:
model.score(x_test, y_test)

0.7988826815642458

In [ ]:
x_test[:10]

     Pclass  Age  Fare  female  male
352       3   15     7       0     1
208       3   16     7       1     0
467       1   56    26       0     1
41        2   27    21       1     0
87        3   29     8       0     1
337       1   41   134       1     0
37        3   21     8       0     1
322       2   30    12       1     0
183       2    1    39       0     1
689       1   15   211       1     0

     Pclass  Age  Fare  female  male
352       3   15     7       0     1
208       3   16     7       1     0
467       1   56    26       0     1
41        2   27    21       1     0
87        3   29     8       0     1
337       1   41   134       1     0
37        3   21     8       0     1
322       2   30    12       1     0
183       2    1    39       0     1
689       1   15   211       1     0

In [ ]:
y_test[:10]

352    0
208    1
467    0
41     0
87     0
337    1
37     0
322    1
183    1
689    1
Name: Survived, dtype: int64

In [ ]:
model.predict(x_test[:10])

array([0, 1, 0, 1, 0, 1, 0, 1, 0, 1])

In [ ]:
model.predict_proba(x_test[:10])

array([[9.89218413e-01, 1.07815872e-02],
       [3.81975963e-02, 9.61802404e-01],
       [9.43778091e-01, 5.62219095e-02],
       [2.07924304e-02, 9.79207570e-01],
       [9.91382360e-01, 8.61763982e-03],
       [3.80783131e-06, 9.99996192e-01],
       [9.90338463e-01, 9.66153706e-03],
       [2.25621565e-02, 9.77437844e-01],
       [9.55333248e-01, 4.46667518e-02],
       [9.61892850e-12, 1.00000000e+00]])